<!DOCTYPE html>
<title>Very Personal Webpage with Video Files Just to Prove I can Actually Do It</title>
<html>
  <head>
    <title>The Abstract</title>
    <link rel="stylesheet" href="../static/css/style.css" />
   <!---<script src="../static/js/index.js" async></script>--->
  </head>
  <body>
    <h1>Good Morning. Good Evening. Good Night!</h1>
    <h4 id='date'></h4>
    <video controls width="500" height="500">

    <source src="/static/videos/4330e84be1734f3b8f9bcc9df3bef1c8.mp4"
            type="video/mp4">

    <source src="/static/videos/SampleVideo_1280x720_1mb.mp4"
            type="video/mp4">

    Sorry, your browser doesn't support embedded videos.
</video>